header{
    background-color: tan;
    margin: auto;
    max-width: 1000px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px,1fr));
    max-width: 975px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 300px;
    max-height: 572px;
}
.title1{
    background-color: rgb(205, 154, 88);
    border-radius: 10px;
    padding: 7px;
}
#card1{
    background-color: lightgrey;
    border-radius: 15px;
    margin-right: 10px;
}
.title2{
    background-color: rgb(205, 154, 88);
    border-radius: 10px;
    padding: 7px;
}
#card2{
    background-color: lightgrey;
    border-radius: 15px;
    margin-right: 10px;
}
.title3{
    background-color: rgb(205, 154, 88);
    border-radius: 10px;
    padding: 7px;
}
#card3{
    background-color: lightgrey;
    border-radius: 15px;
}
footer{
    background-color: tan;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 2px;
    font-family: 'Roboto Mono', monospace;
}